<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,500;0,8..144,600;0,8..144,700;0,8..144,800;0,8..144,900;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,500;1,8..144,600;1,8..144,700;1,8..144,800;1,8..144,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>

<body>
  <header class="header">
    <div class="container flex pt-3 pb-3">
      <h1><a href="#"><img src="/assets/images/week3-4/logo-white.png" alt="首頁logo"></a></h1>
      <ul class="title-list">
        <li><a href="#">系列鏡框</a></li>
        <li><a href="#">門市據點</a></li>
        <li><a href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </div>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="footer-container pb-12 pt-12">
      <ul class="footer-list">
        <ul class="footer-flex footer-title">
          <li><a href="#">首頁</a></li>
          <li><a href="#">系列鏡框</a></li>
          <li><a href="#">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="footer-flex footer-img">
          <li><a href="#"><img src="/assets/images/week3-4/ic-social-fb.png" alt="logo-facebook"></a></li>
          <li><a href=""><img src="/assets/images/week3-4/ic_social_ig.png" alt="logo-instagram"></a></li>
          <li><a href=""><img src="/assets/images/week3-4/ic_social_line.png" alt="ic_social_line"></a></li>
        </ul>
      </ul>
      <ul>
        <li class="footer-flex pt-9">
          <i class="fa-solid fa-phone mb-7"></i>
          <p class="mb-2">0800-000-000</p>
        </li>
        <li class="footer-flex">
          <i class="fa-regular fa-envelope mb-10"></i>
          <p class="mb-8">glasses@business.com</p>
        </li>
      </ul>
      <div class="border"></div>
      <ul class="footer-Copyright pb-12">
        <li>Copyright © 2020 Glasses.All rights reserved.</li>
        <ul class="footer-flex copyright pb-8">
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </ul>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
