.sun-banner{
    li{
        width: 50%;
    }
}
.sun-banner{
    display: flex;
}
.sun-left{
    background-image: url(../images/product-header-3.png);
    height: 296px;
    width: 50%;
    background-position: center center;
    background-size: cover;
}
.sun-right{
    background-image: url(../images/product-header-4.png);
    height: 296px;
    width: 50%;
    background-position: center center;
    background-size: cover;
}
@media (max-width: 768px){
    .sun-left{
        background-image: url(../images/product-header-sm-3.png);
        height: 136px;
    }
    .sun-right{
        background-image: url(../images/product-header-sm-4.png);
        height: 136px;
    }
}
.sun-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    li{
        width: 32.11%;
    }
    p{
        display: flex;
        justify-content: space-between;
    }
    span{
        color: #AA0601;
    }
    a{
        &:hover{
            opacity: 0.5;
        }
    }
}
@media (max-width: 992px){
    .sun-container{
        li{
            width: 48%;
        }
    }
}
@media (max-width: 768px){
    .sun-container{
        li{
            width: 100%;
            margin-bottom: 24px;
        }
        img{
            width: 100%;
        }
    }
}
    
