
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
  font-weight: 400;
}
/*star*/
$space:4px;
$font-logo:12px;
$font-title:20px;
$font-footer:16px;

.pt-3{
  padding-top: $space*3;
}
.pt-9{
  padding-top: $space*9;
}
.pt-12{
  padding-top: $space*12;
}
.pb-3{
  padding-bottom: $space*3;
}
.pb-8{
  padding-bottom: 32px;
}

.mb-2{
  margin-bottom: $space*2;
}
.mb-7{
  margin-bottom: $space*7;
}
.mb-8{
  margin-bottom: $space*8;
}
.mb-9{
  margin-bottom: $space*9;
}
.mb-43{
  margin-bottom: 43px;
}
body{
  text-align: center;
  font-family: 'Noto Sans',serif;
}
a{
  text-decoration: none;
  color: white;
}
.header{
  background-color: #AA0601;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .container{
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;
  }
}
.container img{
  display: block;
  width: 80px;
  height: 49px;
}
@media (max-width: 992px) {
  .container img{
    margin-bottom: 15px;
      
  }
}
.title-list{
  display: flex;
  align-items: center;
  color: white;
  line-height: 1.5;
  font-size: $font-title;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .title-list li{
      width: 50%;
      height: auto;
      text-align: center;
  }
}

.title-list a{
  padding-left: 64px;
  &:hover{
    text-decoration: underline;
  }
}
@media (max-width: 992px) {
  .title-list a{
    padding: 10px 62px;
    border: 1px solid white;
    display: block;
  }
}
.footer{
  background-color: #AA0601;
  color: white;
  font-size: $font-footer;
  line-height: 1.5;
}
.footer-container{
  max-width: 1300px;
  margin: 0 auto;
}
.footer-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  line-height: 1.5;
  font-size: $font-title;
}
.footer-title a{
  margin-right:48px;
  &:hover{
    text-decoration: underline;
  }
}
.footer-img img{
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 32px;
}
.footer-flex{
  display: flex;
  align-items: center;
}
i{
  font-size: $font-logo*3;
  margin-right: 22px;
}
.footer p{
  font-size: $font-footer*2.25;
  line-height: 1.5;
}
.border{
  width: 1296px;
  margin: 0 auto 31px auto;
  border-bottom: 1px solid white;
}
.footer-Copyright{
  display: flex;
  justify-content: space-between;
  font-size: $font-footer;
  line-height: 1.5;
}
.copyright{
  margin-left: 16px;
}