@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 400; }

/**/
.title-word h2 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center; }

@media (max-width: 768px) {
  .title-word h2 {
    font-size: 48px;
    font-weight: bold; } }

@media (max-width: 375px) {
  .title-word h2 {
    font-size: 24px;
    font-weight: bold; } }

.banner {
  background-image: url(../images/home-header.png);
  background-position: center;
  background-size: cover;
  height: 100vh; }

.banner-content {
  color: #650300;
  text-align: right; }

.banner h2 {
  font-size: 64px;
  line-height: 1.5;
  font-weight: 900;
  margin-bottom: 4px;
  padding-top: 296px; }

.banner-content span {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 400; }

.banner a {
  font-size: 20px;
  line-height: 29px;
  background: #AA0601;
  padding: 6px 12px; }
  .banner a:hover {
    opacity: 0.8; }

@media (max-width: 992px) {
  .banner-content {
    max-width: 800px; }
  .banner {
    background-image: url(../images/home-header-sm.png); } }

@media (max-width: 768px) {
  .banner {
    background-image: url(../images/home-header-sm.png); }
  .banner-content {
    margin-right: 14px; }
  .banner-content span {
    font-size: 36px; }
  .banner h2 {
    font-size: 64px;
    font-weight: bold; } }

@media (max-width: 375px) {
  .banner {
    background-image: url(../images/home-header-sm.png); }
  .banner-content span {
    font-size: 16px; }
  .banner h2 {
    font-size: 24px;
    font-weight: bold; } }

.content-word {
  background-color: #FBF2F2;
  color: #650300;
  font-weight: bold;
  padding-bottom: 80px; }

.content-word h2 {
  padding-top: 80px;
  padding-bottom: 32px; }

.content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.content-flex img {
  margin-bottom: 24px;
  width: 30%; }

.content-flex h3 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px; }

.content-flex p {
  text-align: left;
  color: black;
  font-size: 16px;
  line-height: 1.5; }

.content-container {
  width: 24%;
  margin: 0 auto; }

@media (max-width: 996px) {
  .content-flex li {
    width: 47%;
    margin-bottom: 8px; } }

@media (max-width: 768px) {
  .content-word h2 {
    padding-top: 80px;
    padding-bottom: 32px; } }

@media (max-width: 375px) {
  .content-word {
    padding-bottom: 8px; }
  .content-word h2 {
    padding-top: 40px; }
  .content-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content-flex img {
    max-width: 83px;
    height: 83px; }
  .content-flex li {
    width: 100%; }
    .content-flex li li {
      padding-bottom: 32px; } }

.glasses-style {
  text-align: center; }

.glasses-style h2 {
  color: #650300;
  margin-bottom: 48px;
  margin-top: 80px; }

.glasses-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.glasses-flex li:hover {
  cursor: pointer; }
  .glasses-flex li:hover img {
    opacity: 0.5; }
  .glasses-flex li:hover h3 {
    background-color: #AA0601;
    color: #fff; }

.glasses-style img {
  width: 416px;
  height: auto; }

.glasses-style h3 {
  color: #AA0601;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.5;
  font-style: italic;
  margin-bottom: 80px;
  padding-top: 8px; }

@media (max-width: 992px) {
  .glasses-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (max-width: 768px) {
  .glasses-style img {
    width: 336px; } }

@media (max-width: 375px) {
  .glasses-style {
    max-width: 320px;
    margin: 40px auto 16px auto; }
    .glasses-style p {
      margin-bottom: 24px; }
  .glasses-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .glasses-style img {
    max-width: 100%;
    height: auto; } }

.glasses-partner {
  background-image: url(../images/index-bg.png);
  background-size: cover;
  background-position: center center;
  padding: 80px 0; }

.glasses-partner h2 {
  color: white;
  padding-bottom: 48px; }

.glasses-partner img {
  max-width: 100%;
  height: 240px; }

.glasses-partner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.glasses-partner-flex li:hover {
  opacity: 0.5;
  cursor: pointer; }

.glasses-partner h3 {
  background-color: #fff;
  color: #AA0601;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 900;
  font-style: italic; }

.glasses-partner h3:nth-child(2) {
  border-left: 1px solid gray; }

@media (max-width: 992px) {
  .glasses-partner-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .glasses-partner-flex li {
      margin-bottom: 24px; }
    .glasses-partner-flex img {
      width: 100%; }
    .glasses-partner-flex h3 {
      border: none; } }

@media (max-width: 375px) {
  .glasses-partner {
    height: auto;
    background-image: url(../images/index-bg-sm.png); }
    .glasses-partner h2 {
      padding-top: 40px;
      padding-bottom: 24px; }
  .glasses-partner-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
    margin: 0 auto; }
    .glasses-partner-flex img {
      max-width: 100%; }
    .glasses-partner-flex li {
      padding-bottom: 24px; }
    .glasses-partner-flex li:nth-child(2) {
      padding-bottom: 40px; } }

.custermer h2 {
  color: #650300;
  margin-top: 80px;
  margin-bottom: 48px; }

.custermer img {
  max-width: 100%; }

.custermer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.custermer-container {
  width: 24%;
  border: 1px solid #DEE2E6;
  text-align: left;
  margin-bottom: 80px; }

.custermer-word {
  padding: 16px;
  height: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .custermer-word h3, .custermer-word p, .custermer-word h4 {
    font-size: 16px;
    line-height: 1.5; }
  .custermer-word h3 {
    font-weight: 400;
    margin-bottom: 8px; }
  .custermer-word span {
    margin-top: auto;
    font-size: 14px;
    line-height: 1.5;
    color: #707070; }

@media (max-width: 992px) {
  .custermer-container {
    width: 48%; } }

@media (max-width: 375px) {
  .custermer {
    margin-bottom: 40px; }
    .custermer h2 {
      margin-top: 40px;
      margin-bottom: 24px; }
    .custermer img {
      width: 100%; }
  .custermer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .custermer-flex li {
      margin-bottom: 16px; }
    .custermer-flex:last-child {
      margin-bottom: 40px; }
  .custermer-container {
    width: 100%; } }

.contact {
  background-color: #FBF2F2; }

.contact-container {
  max-width: 600px;
  margin: 0 auto; }
  .contact-container h2 {
    color: #650300;
    padding-top: 80px;
    padding-bottom: 48px;
    text-align: center; }
  .contact-container p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 24px;
    text-align: left; }

.contact-list label {
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 8px;
  display: block;
  text-align: left; }

.contact-list input {
  width: 100%;
  height: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px; }

.contact-list .comment {
  height: 136px; }

.comment::-webkit-input-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment::-moz-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment:-ms-input-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment::-ms-input-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment::placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.checkbox-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px; }
  .checkbox-flex p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0; }

.ckbox {
  height: 24px;
  max-width: 24px;
  margin: 0 4px 0 0;
  margin-top: 16px; }

.contact-list button {
  width: 75%;
  text-align: center;
  border: 0;
  background-color: #AA0601;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 80px;
  padding: 16px; }
  .contact-list button:hover {
    opacity: 0.8; }

@media (max-width: 768px) {
  .contact-container {
    max-width: 576px; } }

@media (max-width: 375px) {
  .contact li, .contact label, .contact p {
    font-size: 16px; }
  .contact-container {
    max-width: 334px; }
    .contact-container h2 {
      padding-top: 40px;
      padding-bottom: 24px; }
  .checkbox-flex {
    padding-bottom: 24px; }
    .checkbox-flex .ckbox {
      margin-top: 0; }
    .checkbox-flex .but-container {
      padding-bottom: 40px; }
  .contact-list button {
    width: 100%; } }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  text-align: center;
  font-family: 'Noto Sans TC',serif;
  /*overflow-y: scroll;
  overflow-x: hidden;*/ }

a {
  text-decoration: none;
  color: white; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

.roboto {
  font-family: 'roboto',serif; }

.header {
  background-color: #AA0601; }

.container {
  max-width: 1320px;
  padding: 0px 12px;
  margin: 0 auto; }

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
  padding-bottom: 12px; }

.header-container img {
  display: block;
  width: 80px;
  height: 49px; }
  .header-container img:hover {
    opacity: 0.5; }

.title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  line-height: 1.5;
  font-size: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.title-list a {
  margin-left: 64px;
  display: block; }
  .title-list a:hover {
    border-bottom: 1px solid white; }

@media (max-width: 992px) {
  .container {
    max-width: 800px; }
  .title-list {
    font-size: 20px; } }

@media (max-width: 768px) {
  .container {
    max-width: 700px; }
  .title-list a {
    margin-left: 30px; } }

@media (max-width: 375px) {
  .container {
    max-width: 358px; }
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 11px 0 0 0; }
  .header-container img {
    margin-bottom: 10px; }
  .title-list li {
    width: 50%;
    border: 1px solid white; }
  .title-list a {
    margin: 0;
    padding: 6px 16px; }
    .title-list a:hover {
      opacity: 0.5;
      border: none; } }

/**/
.footer {
  padding: 48px 0 32px;
  background-color: #AA0601;
  color: white;
  font-size: 16px;
  line-height: 1.5; }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px; }
  .footer-list li {
    margin-right: 48px; }
    .footer-list li:last-child {
      margin-right: 0px; }
  .footer-list a:hover {
    border-bottom: 1px solid white; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 32px;
  border-bottom: 1px solid #FFF; }

.footer-contact {
  font-size: 36px;
  text-align: left; }
  .footer-contact span {
    font-size: 36px;
    margin-right: 22px;
    vertical-align: middle; }
  .footer-contact a:hover {
    opacity: 0.5; }

.footer-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer-icon li {
    margin-right: 32px; }
    .footer-icon li:last-child {
      margin-right: 0; }
  .footer-icon img {
    width: 48px;
    height: 48px; }
    .footer-icon img:hover {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
              transform: scale(1.2); }

.footer-Copyright {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .footer-Copyright ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .footer-Copyright ul li:first-child {
      margin-right: 48px; }
    .footer-Copyright ul li:hover {
      opacity: 0.5; }

/**/
@media (max-width: 992px) {
  .footer-list {
    font-size: 16px; }
    .footer-list img {
      width: 40px;
      height: 40px; }
    .footer-list span {
      font-size: 30px;
      margin-right: 16px; }
    .footer-list .footer p {
      font-size: 30px; } }

@media (max-width: 768px) {
  .footer {
    padding: 24px 0; }
  .footer-contact {
    font-size: 16px; }
    .footer-contact span {
      font-size: 18px;
      margin-right: 8px; }
  .footer-list {
    display: none; }
  .footer-icon img {
    width: 24px;
    height: 24px; }
  .footer-icon li {
    margin-right: 8px; }
  .footer-Copyright {
    display: block;
    text-align: left; }
    .footer-Copyright ul {
      display: block; }
    .footer-Copyright p {
      font-size: 16px;
      padding-bottom: 8px; }
    .footer-Copyright li {
      padding-bottom: 8px; }
    .footer-Copyright:last-child {
      padding-bottom: 0; } }

.product-tilte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500; }
  .product-tilte li {
    border-left: 1px solid #DCDCDC;
    width: 100%;
    text-align: center; }
    .product-tilte li:last-child {
      border-right: 1px solid #DCDCDC; }
    .product-tilte li:hover {
      border-bottom: 8px solid #AA0601;
      opacity: 0.6; }
  .product-tilte a {
    font-size: 32px;
    line-height: 1.5;
    display: block;
    color: black;
    padding: 24px 0; }

@media (max-width: 992px) {
  .product-tilte {
    padding: 0;
    max-width: 100%; }
    .product-tilte a {
      font-size: 24px;
      padding: 16px 0; } }

@media (max-width: 768px) {
  .product-tilte {
    padding: 0;
    margin: 0;
    max-width: 100%; }
    .product-tilte a {
      font-size: 20px; } }

@media (max-width: 375px) {
  .product-tilte {
    padding: 0; }
    .product-tilte a {
      font-size: 16px;
      padding: 16px 0; } }

.product-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product-banner-left {
  background-image: url(../images/product-header-1.png);
  height: 296px;
  width: 50%;
  background-position: center center;
  background-size: cover; }

.product-banner-right {
  background-image: url(../images/product-header-2.png);
  height: 296px;
  width: 50%;
  background-position: center center;
  background-size: cover; }

@media (max-width: 768px) {
  .product-banner-left {
    background-image: url(../images/product-header-sm-1.png);
    height: 136px; }
  .product-banner-right {
    background-image: url(../images/product-header-sm-2.png);
    height: 136px; } }

.product-list {
  line-height: 1.5; }
  .product-list h2 {
    font-size: 42px;
    font-weight: 500;
    margin-top: 80px; }
  .product-list p {
    font-size: 32px;
    font-weight: 400; }
  .product-list li {
    margin-bottom: 80px; }

.product-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 400;
  margin-top: 32px; }
  .product-container li {
    width: 23.65%; }
  .product-container p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 24px; }
  .product-container span {
    color: #AA0601; }
  .product-container a:hover {
    opacity: 0.5; }

.product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-color .product-color-brown {
    width: 24px;
    height: 24px;
    background-color: #5F3E2D;
    border-radius: 20%;
    margin-right: 4px; }
    .product-color .product-color-brown:hover {
      cursor: pointer;
      opacity: 0.5; }
  .product-color .product-color-orange {
    width: 24px;
    height: 24px;
    background-color: #B75929;
    border-radius: 20%; }
    .product-color .product-color-orange:hover {
      cursor: pointer;
      opacity: 0.5; }

@media (max-width: 992px) {
  .product-container li {
    width: 48%; } }

@media (max-width: 768px) {
  .product-list h2 {
    font-size: 24px; }
  .product-list p {
    font-size: 24px; }
  .product-container li {
    width: 100%;
    margin-bottom: 24px; }
  .product-container img {
    width: 100%; } }

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
  font-size: 18px; }
  .page li {
    border: 1px solid #555555;
    border-right: none; }
    .page li:last-child {
      border-right: 1px solid #555555; }
  .page a {
    display: block;
    color: black;
    padding: 12px 16px; }
    .page a:hover {
      background-color: black;
      color: white; }

@media (max-width: 768px) {
  .page {
    margin-bottom: 64px;
    font-size: 16px; }
    .page a {
      padding: 10px 12px; } }

.sun-banner li {
  width: 50%; }

.sun-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sun-left {
  background-image: url(../images/product-header-3.png);
  height: 296px;
  width: 50%;
  background-position: center center;
  background-size: cover; }

.sun-right {
  background-image: url(../images/product-header-4.png);
  height: 296px;
  width: 50%;
  background-position: center center;
  background-size: cover; }

@media (max-width: 768px) {
  .sun-left {
    background-image: url(../images/product-header-sm-3.png);
    height: 136px; }
  .sun-right {
    background-image: url(../images/product-header-sm-4.png);
    height: 136px; } }

.sun-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px; }
  .sun-container li {
    width: 32.11%; }
  .sun-container p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .sun-container span {
    color: #AA0601; }
  .sun-container a:hover {
    opacity: 0.5; }

@media (max-width: 992px) {
  .sun-container li {
    width: 48%; } }

@media (max-width: 768px) {
  .sun-container li {
    width: 100%;
    margin-bottom: 24px; }
  .sun-container img {
    width: 100%; } }

.store h2 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  margin-bottom: 32px;
  border-left: 7px solid #9F1213;
  padding-left: 16px;
  margin-top: 96px; }

.store-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px; }
  .store-select p {
    margin-right: 16px; }
  .store-select select {
    width: 23.5%;
    font-size: 18px;
    padding: 6px 12px; }

@media (max-width: 992px) {
  .store-select select {
    width: 39.2%; } }

@media (max-width: 375px) {
  .store-select {
    font-size: 16px; }
    .store-select select {
      width: 75%; } }

.store-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 80px; }
  .store-list li {
    width: 32.11%;
    margin-bottom: 48px; }
    .store-list li:nth-child(4) {
      margin-bottom: 0; }
    .store-list li:nth-child(5) {
      margin-bottom: 0; }
    .store-list li:nth-child(6) {
      margin-bottom: 0; }
  .store-list a {
    color: black;
    display: block; }
  .store-list p {
    font-size: 24px;
    border: 1px solid #00000020;
    padding: 8px 24px; }

.store-phone {
  font-size: 20px;
  font-weight: 400;
  display: block;
  border: 1px solid #00000020;
  padding: 22px 27px 16px 27px; }
  .store-phone li {
    width: 100%;
    margin-bottom: 8px; }
    .store-phone li:last-child {
      margin-bottom: 0; }
  .store-phone span {
    font-size: 18px;
    margin-right: 13px; }
  .store-phone a:hover {
    opacity: 0.5; }

.store-btn {
  text-align: center;
  line-height: 27px; }
  .store-btn p {
    padding: 0;
    font-size: 19px; }
  .store-btn a {
    padding: 16px;
    background-color: black;
    color: white; }
    .store-btn a:hover {
      opacity: 0.5; }

@media (max-width: 992px) {
  .store-list li {
    width: 48%; }
  .store-phone li {
    width: 100%; } }

@media (max-width: 768px) {
  .store-list li {
    width: 100%;
    margin-bottom: 24px; }
  .last-list {
    margin-top: 24px; } }

.store-branch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 80px; }
  .store-branch li {
    width: 40.6%; }
    .store-branch li img {
      height: 224px;
      width: 100%; }
  .store-branch a {
    color: black;
    display: block; }
  .store-branch p {
    font-size: 24px;
    border: 1px solid #00000020;
    padding: 7px 24px; }

.store-phone {
  font-size: 20px;
  font-weight: 400;
  display: block;
  border: 1px solid #00000020;
  padding: 15px 27px 15px 27px; }
  .store-phone li {
    width: 100%;
    margin-bottom: 8px; }
    .store-phone li:last-child {
      margin-bottom: 0; }
  .store-phone span {
    font-size: 18px;
    margin-right: 13px; }
  .store-phone a:hover {
    opacity: 0.5; }

.store-branch .branch-img {
  width: 57.6%; }
  .store-branch .branch-img img {
    height: 100%; }

@media (max-width: 992px) {
  .store-branch li {
    width: 100%; }
    .store-branch li img {
      width: 48.86%; }
  .store-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .store-flex div {
      width: 48.86%;
      height: 100%; }
  .store-branch .branch-img {
    width: 100%;
    margin-top: 24px; }
    .store-branch .branch-img img {
      width: 100%; } }

@media (max-width: 375px) {
  .store-branch li {
    width: 100%; }
    .store-branch li img {
      width: 100%; }
  .store-branch .store-flex {
    display: block; }
  .store-branch div {
    width: 100%; } }

.question-list {
  width: 66.05%;
  line-height: 1.5;
  text-align: left;
  font-weight: 700; }
  .question-list li {
    margin-bottom: 32px; }
    .question-list li:first-child {
      margin-bottom: 24px; }
    .question-list li:last-child {
      margin-bottom: 80px; }
  .question-list h2 {
    font-size: 24px; }
  .question-list h3 {
    font-size: 20px;
    margin-bottom: 8px; }
  .question-list p {
    font-size: 16px;
    font-weight: 400; }

@media (max-width: 992px) {
  .question-list {
    width: 100%; } }

.blog-container {
  background-color: #650300; }

.blog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .blog-nav i {
    font-size: 30px; }
    .blog-nav i:hover {
      opacity: 0.5; }

.blog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700; }
  .blog-title a {
    display: block;
    margin: 13px 48px 13px 0; }
    .blog-title a:hover {
      opacity: 0.5; }

.blog-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px; }
  .blog-list li:last-child {
    margin-bottom: 124px; }

.blog-list img {
  width: 49.1%; }

.blog-news {
  text-align: left;
  margin-left: 24px;
  font-weight: 400; }
  .blog-news h2 {
    color: #650300;
    font-size: 32px;
    line-height: 1.5; }
  .blog-news span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px; }
    .blog-news span:last-child {
      font-size: 16px;
      color: #555555; }
  .blog-news p {
    font-size: 20px;
    color: #555555;
    line-height: 1.5; }
  .blog-news a {
    display: block;
    text-align: right;
    padding-top: 15%;
    color: #650300;
    font-size: 36px;
    line-height: 1.5;
    font-weight: 700; }
    .blog-news a:hover {
      opacity: 0.5; }

@media (max-width: 992px) {
  .blog-list img {
    height: 240px;
    width: 380px; }
  .blog-news h2 {
    font-size: 24px; }
  .blog-news p {
    font-size: 16px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical; }
  .blog-news span {
    margin-bottom: 4px;
    font-size: 16px; }
  .blog-news a {
    text-transform: lowercase;
    font-size: 20px;
    color: #555555;
    margin: 0;
    padding-top: 8%; }
    .blog-news a::before {
      content: '...'; } }

@media (max-width: 768px) {
  .blog-container i {
    display: none; }
  .blog-title a {
    margin: 0;
    padding: 12px 7px;
    font-size: 16px;
    margin: 6 7px; }
  .store h2 {
    font-size: 24px; }
  .blog-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blog-list img {
    width: 100%;
    height: auto;
    margin-bottom: 8px; }
  .blog-news {
    margin-left: 0; }
    .blog-news p {
      display: none; }
    .blog-news a {
      display: none; } }

/*# sourceMappingURL=all.css.map */
