/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 400; }

/*star*/
.pt-3 {
  padding-top: 12px; }

.pt-9 {
  padding-top: 36px; }

.pt-12 {
  padding-top: 48px; }

.pb-3 {
  padding-bottom: 12px; }

.pb-8 {
  padding-bottom: 32px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-43 {
  margin-bottom: 43px; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  text-align: center;
  font-family: 'Noto Sans',serif; }

a {
  text-decoration: none;
  color: white; }

img {
  vertical-align: middle; }

.header {
  background-color: #AA0601; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 375px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0; } }

.container img {
  display: block;
  width: 80px;
  height: 49px; }

@media (max-width: 375px) {
  .container img {
    margin: 12px 147px; } }

.title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  line-height: 1.5;
  font-size: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (max-width: 375px) {
  .title-list li {
    font-size: 16px;
    width: 50%;
    text-align: center; } }

.title-list a {
  padding-left: 64px; }
  .title-list a:hover {
    text-decoration: underline; }

@media (max-width: 375px) {
  .title-list a {
    padding: 11px 36px;
    border: 1px solid white;
    display: block; } }

.footer {
  background-color: #AA0601;
  color: white;
  font-size: 16px;
  line-height: 1.5; }

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 32px; }

@media (max-width: 375px) {
  .footer-container {
    padding-top: 0px;
    max-width: 320px; } }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  line-height: 1.5;
  font-size: 20px; }

.footer-title a {
  margin-right: 48px; }
  .footer-title a:hover {
    text-decoration: underline; }

@media (max-width: 375px) {
  .footer-title li {
    display: none; } }

.footer-img img {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 32px; }

@media (max-width: 375px) {
  .footer-img img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    position: relative;
    top: 20px; } }

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

i {
  font-size: 36px;
  margin-right: 22px; }

@media (max-width: 375px) {
  i {
    font-size: 18px;
    margin-right: 11px; } }

.footer p {
  font-size: 36px;
  line-height: 1.5; }

.footer-phone {
  margin-top: 36px; }

@media (max-width: 375px) {
  .footer-phone {
    margin-top: 0; } }

.footer-mail {
  margin-top: 8px;
  margin-bottom: 32px; }

@media (max-width: 375px) {
  .footer-mail {
    margin-bottom: 24px; } }

@media (max-width: 375px) {
  .footer p {
    font-size: 16px; } }

.border {
  max-width: 1296px;
  margin: 0 auto 31px auto;
  border-bottom: 1px solid white; }

@media (max-width: 375px) {
  .border {
    max-width: 348px;
    margin: 0 auto 15px auto; } }

.footer-Copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 1.5; }

@media (max-width: 375px) {
  .footer-Copyright {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-Copyright li {
    margin-bottom: 8px; }
  .copyright li:nth-child(2) {
    margin-bottom: 0; } }

.copyright a {
  margin-left: 16px; }

@media (max-width: 375px) {
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .copyright a {
    margin-left: 0; } }

/**/
.title-word h2 {
  font-size: 48px;
  line-height: 1.5;
  font-weight: bold;
  text-align: center; }

@media (max-width: 375px) {
  .title-word h2 {
    font-size: 24px;
    font-weight: bold; } }

.banner {
  background-image: url(/assets/images/week3-4/home-header.png);
  background-position: center;
  background-size: cover;
  height: 787px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right; }

.banner-content {
  margin-right: 312px;
  color: #650300; }

.banner h2 {
  font-size: 64px;
  line-height: 1.5;
  font-weight: 900; }

.banner-content span {
  font-size: 36px;
  line-height: 1.5;
  font-weight: 400; }

.banner a {
  font-size: 20px;
  line-height: 29px;
  background: #AA0601;
  padding: 6px 12px; }

@media (max-width: 375px) {
  .banner {
    background-image: url(/assets/images/week3-4/home-header-sm.png);
    height: 396px; }
  .banner-content {
    margin-right: 14px; }
  .banner-content span {
    font-size: 16px; }
  .banner h2 {
    font-size: 24px;
    font-weight: bold; } }

.content-word {
  background-color: #FBF2F2;
  color: #650300;
  font-weight: bold;
  padding-bottom: 80px; }

.content-word h2 {
  padding-top: 80px;
  padding-bottom: 32px; }

.content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  margin: 0 auto; }

.content-flex img {
  margin-bottom: 24px; }

.content-flex h3 {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px; }

.content-flex p {
  text-align: left;
  color: black;
  font-size: 16px;
  line-height: 1.5; }

.content-container {
  width: 306px;
  margin: 0 auto; }

@media (max-width: 375px) {
  .content-flex {
    max-width: 320px; }
  .content-word {
    padding-bottom: 8px; }
  .content-word h2 {
    padding-top: 40px; }
  .content-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .content-flex img {
    width: 83px;
    height: 83px; }
  .content-flex p {
    padding-bottom: 32px;
    width: 100%; }
  .content-container {
    margin: 0;
    max-width: 320px; } }

.glasses-style {
  text-align: center;
  width: 1300px;
  margin: 80px auto; }

.glasses-style h2 {
  color: #650300;
  margin-bottom: 48px; }

.glasses-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.glasses-style img {
  width: 416px;
  height: 416px;
  margin-bottom: 8px; }

.glasses-style p {
  color: #AA0601;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.5;
  font-style: italic; }

@media (max-width: 375px) {
  .glasses-style {
    max-width: 320px;
    margin: 40px auto 16px auto; }
    .glasses-style p {
      margin-bottom: 24px; }
  .glasses-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
  .glasses-style img {
    width: 100%;
    height: auto; } }

.glasses-partner {
  background-image: url(/assets/images/week3-4/nick-owuor-astro-nic-visuals-54Q_HvMWtVE-unsplash.jpg);
  background-size: cover;
  background-position: center center;
  height: 608px; }

.glasses-partner h2 {
  color: white;
  padding-top: 80px;
  padding-bottom: 48px; }

.glasses-partner img {
  width: 648px;
  height: 240px; }

.glasses-partner-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.glasses-partner p {
  background-color: #fff;
  color: #AA0601;
  font-size: 48px;
  line-height: 1.5;
  font-weight: 900;
  font-style: italic; }

.glasses-partner p:nth-child(2) {
  border-left: 1px solid gray; }

@media (max-width: 375px) {
  .glasses-partner {
    height: auto; }
    .glasses-partner h2 {
      padding-top: 40px;
      padding-bottom: 24px; }
  .glasses-partner-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
    margin: 0 auto; }
    .glasses-partner-flex img {
      width: 100%; }
    .glasses-partner-flex li {
      padding-bottom: 24px; }
    .glasses-partner-flex li:nth-child(2) {
      padding-bottom: 40px; } }

.custermer {
  width: 1300px;
  margin: 0 auto; }
  .custermer h2 {
    color: #650300;
    margin-top: 80px;
    margin-bottom: 48px; }
  .custermer img {
    width: 306px;
    height: 306px; }

.custermer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.custermer-container {
  width: 306px;
  border: 1px solid #DEE2E6;
  text-align: left;
  margin-bottom: 80px; }
  .custermer-container h3, .custermer-container p, .custermer-container h4 {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 16px;
    line-height: 1.5; }
  .custermer-container h3 {
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 8px; }
  .custermer-container p {
    margin-bottom: 72px; }
  .custermer-container p:nth-child(4n) {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.5;
    color: #707070; }

@media (max-width: 375px) {
  .custermer {
    max-width: 320px;
    height: auto;
    margin-bottom: 40px; }
    .custermer h2 {
      margin-top: 40px;
      margin-bottom: 24px; }
    .custermer img {
      width: 100%; }
  .custermer-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .custermer-flex li {
      margin-bottom: 16px; }
    .custermer-flex li:nth-child(4) {
      margin-bottom: 0; }
  .custermer-container {
    width: 100%; }
    .custermer-container p {
      margin-bottom: 96px; } }

.contact {
  background-color: #FBF2F2; }

.contact-container {
  width: 636px;
  margin: 0 auto;
  text-align: left; }
  .contact-container h2 {
    color: #650300;
    padding-top: 80px;
    padding-bottom: 48px;
    text-align: center; }
  .contact-container p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    padding-bottom: 24px; }

.contact-list li {
  padding-bottom: 16px; }
  .contact-list li p {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 8px; }
  .contact-list li input {
    width: 632px;
    height: 32px;
    padding: 0;
    font-size: 20px;
    line-height: 1.5; }
  .contact-list li .comment {
    height: 136px; }

.comment::-webkit-input-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment::-moz-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment:-ms-input-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment::-ms-input-placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.comment::placeholder {
  position: relative;
  bottom: 50px;
  text-align: left; }

.checkbox-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 48px; }
  .checkbox-flex p {
    font-size: 16px;
    line-height: 1.5;
    padding: 0; }

.ckbox {
  height: 24px;
  width: 24px;
  margin: 0 4px 0 0; }

.but-container {
  text-align: center;
  padding-bottom: 80px; }

.content-but {
  border: 0;
  background-color: #AA0601;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
  padding: 16px 176px; }

@media (max-width: 375px) {
  .contact li, .contact p {
    font-size: 16px; }
  .contact-container {
    max-width: 320px; }
    .contact-container h2 {
      padding-top: 40px;
      padding-bottom: 24px; }
  .contact-list li input {
    width: 100%; }
  .checkbox-flex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-bottom: 24px; }
  .content-but {
    padding: 16px 128px; }
  .but-container {
    padding-bottom: 40px; } }

/*# sourceMappingURL=all.css.map */
