/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-weight: 400; }

/*star*/
.pt-3 {
  padding-top: 12px; }

.pt-9 {
  padding-top: 36px; }

.pt-12 {
  padding-top: 48px; }

.pb-3 {
  padding-bottom: 12px; }

.pb-8 {
  padding-bottom: 32px; }

.mb-2 {
  margin-bottom: 8px; }

.mb-7 {
  margin-bottom: 28px; }

.mb-8 {
  margin-bottom: 32px; }

.mb-9 {
  margin-bottom: 36px; }

.mb-43 {
  margin-bottom: 43px; }

body {
  text-align: center;
  font-family: 'Noto Sans',serif; }

a {
  text-decoration: none;
  color: white; }

.header {
  background-color: #AA0601; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 375px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0; } }

.container img {
  display: block;
  width: 80px;
  height: 49px; }

@media (max-width: 375px) {
  .container img {
    margin: 12px 147px 11px 148px; } }

.title-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  line-height: 1.5;
  font-size: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

@media (max-width: 375px) {
  .title-list li {
    font-size: 16px;
    width: 50%;
    text-align: center; } }

.title-list a {
  padding-left: 64px; }
  .title-list a:hover {
    text-decoration: underline; }

@media (max-width: 375px) {
  .title-list a {
    padding: 11px 36px;
    border: 1px solid white;
    display: block; } }

.footer {
  background-color: #AA0601;
  color: white;
  font-size: 16px;
  line-height: 1.5; }

@media (max-width: 375px) {
  .footer {
    padding-left: 15px;
    padding-right: 15px; } }

.footer-container {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 32px; }

@media (max-width: 375px) {
  .footer-container {
    padding-top: 0px; } }

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  line-height: 1.5;
  font-size: 20px; }

.footer-title a {
  margin-right: 48px; }
  .footer-title a:hover {
    text-decoration: underline; }

@media (max-width: 375px) {
  .footer-title li {
    display: none; } }

.footer-img img {
  display: block;
  width: 48px;
  height: 48px;
  margin-left: 32px; }

@media (max-width: 375px) {
  .footer-img img {
    width: 24px;
    height: 24px;
    margin-left: 8px;
    position: relative;
    top: 20px; } }

.footer-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

i {
  font-size: 36px;
  margin-right: 22px; }

@media (max-width: 375px) {
  i {
    font-size: 18px;
    margin-right: 11px; } }

.footer p {
  font-size: 36px;
  line-height: 1.5; }

.footer-phone {
  margin-top: 36px; }

@media (max-width: 375px) {
  .footer-phone {
    margin-top: 0; } }

.footer-mail {
  margin-top: 8px;
  margin-bottom: 32px; }

@media (max-width: 375px) {
  .footer-mail {
    margin-bottom: 24px; } }

@media (max-width: 375px) {
  .footer p {
    font-size: 16px; } }

.border {
  max-width: 1296px;
  margin: 0 auto 31px auto;
  border-bottom: 1px solid white; }

@media (max-width: 375px) {
  .border {
    max-width: 348px;
    margin: 0 auto 15px auto; } }

.footer-Copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 1.5; }

@media (max-width: 375px) {
  .footer-Copyright {
    font-size: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer-Copyright li {
    margin-bottom: 8px; }
  .copyright li:nth-child(2) {
    margin-bottom: 0; } }

.copyright a {
  margin-left: 16px; }

@media (max-width: 375px) {
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .copyright a {
    margin-left: 0; } }

/*# sourceMappingURL=all.css.map */
